public/workflows/ats.json
{
  "name": "ATS",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application Form",
        "formDescription": "We will get back to you soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "LinkedIn"
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        48,
        0
      ],
      "id": "7a84afb6-a982-4897-a5ed-335cb8b69849",
      "name": "On form submission",
      "webhookId": "c8eebb9a-3bfc-46d7-a66f-d81733a460ef"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "e3d68fe8-c26e-4d13-a3a1-57ba7f0b9184",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        256
      ],
      "id": "af7f9fbe-5d9f-45bc-9084-55cf6d25417d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HgLgyBRO0J7xFf7W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        0
      ],
      "id": "6b476e64-212e-44fb-bc84-f2acfd0c57a0",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nzZfAqooM1lG2Up0o06R0e9dNhJQqLRm-47dBmBY-no",
          "mode": "list",
          "cachedResultName": "n8n first demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nzZfAqooM1lG2Up0o06R0e9dNhJQqLRm-47dBmBY-no/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1655696093,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nzZfAqooM1lG2Up0o06R0e9dNhJQqLRm-47dBmBY-no/edit#gid=1655696093"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Linkedin": "={{ $('On form submission').item.json.LinkedIn }}",
            "Resume": "={{ $('On form submission').item.json.Resume }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        0
      ],
      "id": "52b58a71-4cc5-401c-adae-a9b32539a338",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jap5msqmtlnuujKs",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@srpailabs.com",
        "subject": "Resume Received",
        "message": "=Hello HR, A new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.  \nCandidate Name: {{ $json['Full Name'] }} \nCandidate E-mail:{{ $json.Email }}\nCandidate Linkedin: {{ $json.Linkedin }}  \n\nThank you for your attention. \n\nBest regards, Automated CV Screening",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        0
      ],
      "id": "fa504318-31f1-437e-8534-50e527d50074",
      "name": "Send a message",
      "webhookId": "a96e41ce-9c4f-4be3-8fc2-653bdd07d511",
      "credentials": {
        "gmailOAuth2": {
          "id": "juoXfWbVOqmRjhV6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Regarding your application",
        "message": "=Dear {{ $('On form submission').item.json['Full Name'] }},  \nGreetings! \n Thank you for applying for the role of Technology Analyst. Your application is under review once we shortlisted we will let u know.\n  \n\nThank you. \n\n Best regards,\nShashank",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        0
      ],
      "id": "3242de59-64a9-4ab9-a33f-aef6d8ff6ab9",
      "name": "Send a message1",
      "webhookId": "4c9bac09-4e98-4f60-8333-eb0d6d49f6a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "juoXfWbVOqmRjhV6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "64c13642-1ba2-445e-8ba4-3279f4dc7e18",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        0
      ],
      "id": "dea85fbc-978a-49a7-9554-a70a3074c026",
      "name": "Webhook",
      "webhookId": "64c13642-1ba2-445e-8ba4-3279f4dc7e18"
    },
    {
      "parameters": {
        "height": 416,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -192
      ],
      "typeVersion": 1,
      "id": "cd4a8e17-9eb1-4002-a0ab-c7561714dbd4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Webhook-------------on form submission----->extract->basic LLM chain---->append row in sheet--->gmail send a message--->",
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        272
      ],
      "typeVersion": 1,
      "id": "8b3904e4-2667-4c58-a82b-c71d7591c9a8",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "028f55a5-d904-49dd-88c8-dfcf67c5cb2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68e964e6f6f15100b5acf702c5b4da1bf787ef658432dd190d521c61a33db447"
  },
  "id": "M9Lc521ObUGmA0U9",
  "tags": []
}