public/workflows/invoice-automation.json
{
  "name": "Invoice automation 12/12/2025",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Cm0ZaSegsrMvaCHhiBVFBIgRsv-FDT5g",
          "mode": "list",
          "cachedResultName": "Invoices Test dec 12",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Cm0ZaSegsrMvaCHhiBVFBIgRsv-FDT5g"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -48
      ],
      "id": "cddc6803-8d25-4f47-9967-aff09ba8c916",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8fuxj6DH7GMQ9QRB",
          "name": "3dec2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        -48
      ],
      "id": "c3c94874-28a6-4f69-9863-e67e3512afc5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8fuxj6DH7GMQ9QRB",
          "name": "3dec2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        -48
      ],
      "id": "1e97a8e2-e14f-4a5a-b369-f6c83cc6706f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Customer Name",
              "description": "this is the name of the customer",
              "required": true
            },
            {
              "name": "Company Name",
              "description": "This is the name of the company",
              "required": true
            },
            {
              "name": "email ",
              "description": "this is the email of the customer",
              "required": true
            },
            {
              "name": "Address",
              "description": "this is the address of the customer",
              "required": true
            },
            {
              "name": "invoice num",
              "description": "This is the number of the  invoice",
              "required": true
            },
            {
              "name": "Date",
              "type": "date",
              "description": "this is the date of the invoice",
              "required": true
            },
            {
              "name": "Status",
              "description": "this is the status of the payment",
              "required": true
            },
            {
              "name": "line item",
              "description": "this is the line item of the invoice",
              "required": true
            },
            {
              "name": "total amount",
              "description": "this is the total amount of the invoice ",
              "required": true
            },
            {
              "name": "payment menthod",
              "description": "this is the payment method of the invoice ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -32,
        -48
      ],
      "id": "c02f28c2-98ec-4324-a5f9-e60780888550",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        112
      ],
      "id": "31f7d49d-193e-455e-b71f-c386211da6de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3PXGxtHFSVV4jGyM",
          "name": "SP91 12dec2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqt9xE_UGQZPsG7IE6TE7p8jGs47D5aTRrXKSkIVHTA",
          "mode": "list",
          "cachedResultName": "Invoice System  test12 dec2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqt9xE_UGQZPsG7IE6TE7p8jGs47D5aTRrXKSkIVHTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqt9xE_UGQZPsG7IE6TE7p8jGs47D5aTRrXKSkIVHTA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['invoice num'] }}",
            "Client Name": "={{ $json.output['Customer Name'] }}",
            "Client Email": "={{ $json.output['email '] }}",
            "Client Address": "={{ $json.output.Address }}",
            "Total Amount": "={{ $json.output['total amount'] }}",
            "Status": "={{ $json.output.Status }}",
            "Payment Method": "={{ $json.output['payment menthod'] }}",
            "Invoice Date": "={{ $json.output.Date }}",
            "Description": "={{ $json.output['line item'] }}"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -32
      ],
      "id": "f5401b99-55d0-49f7-954b-a3fed7276d04",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lwm85XOMAxL2D5gx",
          "name": "3/12/2025"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "#Overview\n\nyou are an email expert for SRP automation labs named Simba. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/Sent.\n\n##Email\nin the email, make sure to also include that the system has added the fields to the google sheets DB which they can view here:https://docs.google.com/spreadsheets/d/1dqt9xE_UGQZPsG7IE6TE7p8jGs47D5aTRrXKSkIVHTA/edit?usp=sharing\n\n\n\n\n##output\n\nyour output should be in the following JSON Format\n\n{\"subjectLine\":\"subjectLineHere\", \"EmailBody\":\"bodyEmailHere\"}\n\n##Rules\n-Don't include any markdown formatting\n-Make sure the email is in HTML format"
            },
            {
              "content": "=Invoice Number:{{ $json['Invoice Number'] }}\n\nClient Name:{{ $json['Client Name'] }}\n\nClient Email:{{ $json['Client Email'] }}\n\nTotal amount:{{ $json['Total Amount'] }}\n\nInvocie Date:{{ $json['Invoice Date'] }}\n\nStatus: {{ $json.Status }}\n\nPayment method:{{ $json['Payment Method'] }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        528,
        -32
      ],
      "id": "47d166f8-5654-4162-b910-22adf77c2fee",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "3PXGxtHFSVV4jGyM",
          "name": "SP91 12dec2025"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "info@srpailabs.com",
        "subject": "={{ $json.output[0].content[0].text.subjectLine }}",
        "message": "={{ $json.output[0].content[0].text.EmailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -32
      ],
      "id": "aa40c023-85d0-44e6-808e-3cac8c7e9024",
      "name": "Send a message",
      "webhookId": "a41f8259-a8a6-4b6e-be52-9de433579c06",
      "credentials": {
        "gmailOAuth2": {
          "id": "HFeCvOlq9g6Rn7WL",
          "name": "Gmail account 4 Dec 2025"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "462ec884-a747-4255-960a-c63ebbbb5b9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d623930058a5c1992b67b9b46f58aa81ce2ffebfaa94683c6ebb36ae093e8337"
  },
  "id": "G3svg6zmyk87L5SI",
  "tags": []
}