public/workflows/linkedin-content.json
{
  "name": "Linkedin Content Parasyste System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Please add two Linkdein accounts of your favourite creators to then be able to scrape their posts",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Linkedin Account Number1(URL)",
              "requiredField": true
            },
            {
              "fieldLabel": "Linkedin Account Number2(URL)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "c6ae3cc3-8b41-4a5d-b405-b7a98fb88e6a",
      "name": "Linkedin Accounts",
      "webhookId": "ad3e6b39-1660-4a2c-9ac2-4d239cafa37f"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "Wpp1BZ6yGWjySadk3",
          "mode": "list",
          "cachedResultName": "Linkedin Post Scraper ✅ No cookies ✅ $2 per 1k posts (supreme_coder/linkedin-post)",
          "cachedResultUrl": "https://console.apify.com/actors/Wpp1BZ6yGWjySadk3/input"
        },
        "customBody": "={\n    \"deepScrape\": true,\n    \"limitPerSource\": 10,\n    \"rawData\": false,\n    \"urls\": [\n        \"{{ $json['Linkedin Account Number1(URL)'] }}\",\n        \"{{ $json['Linkedin Account Number2(URL)'] }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "8faf430b-bf90-47f6-b524-ab6f001ab122",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "k4VmpFq0CWV7YIaQ",
          "name": "bunty 6Dec2025"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "6c32748d-28c8-4f4f-9465-09e4329562d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "your are a helpful, precise Linkedin post classifier for an AI focused audience (people who build with or want to learn AI, understand cool news that come out of it that actually strike have an interesting take)"
            },
            {
              "content": "=Classify a Linkedin post for an automation-focused audience. Return only \n{\"verdict\":\"relevant or not_relevant\"}.\n- Relevant if it's valuable advice for someone looking to start an AI agency\n- Not relevant if it's motivational/personal, non-automation coding, cypto/politics/finance, or tool discounts etc.. or vague hype with no build/impact.\n\noutput valid JSON only.\n{\"vedict\":\"relvant or not_relevant\"}"
            },
            {
              "content": "=Here is the linkedin post to analyse:  {{ $('Run an Actor and get dataset').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        656,
        16
      ],
      "id": "2ba81a79-5394-4ed7-8729-b3130c09c8d0",
      "name": "Relevant?",
      "credentials": {
        "openAiApi": {
          "id": "PzoQNoNxEFBrW6i1",
          "name": "ps24 4dec"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47e32e5c-0603-41c8-88f9-fe6e138a25b6",
              "leftValue": "={{ $json.output[0].content[0].text.verdict }}",
              "rightValue": "relevant",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        16,
        256
      ],
      "id": "de746e73-45a0-4775-bb96-6e2d99f77c7b",
      "name": "Filter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=#Overview\nyour are a helpful, intelligent writing assistant.\n\n##Task\nRewrite the Linkedin post that I'm going to give you in a way that encapsulates the original theme but uses different words.\n\nI am targeting an audience that are people who build with or want to learn AI. they are always fascinated by new discoveries or news that actually make an impact.\n\n## My Results\nMy career learn lot things in the past but i now i want to build my career in the AI automation i was loving it to do and I got more fun on this projects etc\n\n#Rules\n-use a no fluff, young tone when re-writing the Linkedin post\n-Don't sound robotic, sound human and yound\n-Only output the linkedin post and that's it"
            },
            {
              "content": "=Here is the linkedin post to rewrite:\n {{ $('Run an Actor and get dataset').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        608,
        256
      ],
      "id": "18c06bd2-f5bd-4480-94d4-a5841b94c6d2",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "PzoQNoNxEFBrW6i1",
          "name": "ps24 4dec"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZHlRM2H0mNeCAnYpajKEJfCXloCnb56IWG9yzOyEtTw",
          "mode": "list",
          "cachedResultName": "Linkedin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZHlRM2H0mNeCAnYpajKEJfCXloCnb56IWG9yzOyEtTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZHlRM2H0mNeCAnYpajKEJfCXloCnb56IWG9yzOyEtTw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "={{ $('Run an Actor and get dataset').item.json.postedAtISO.toDateTime().format('DDD') }}",
            "Creator": "={{ $('Run an Actor and get dataset').item.json.authorName }}",
            "Post URL": "={{ $('Run an Actor and get dataset').item.json.url }}",
            "Original Post Text": "={{ $('Run an Actor and get dataset').item.json.text }}",
            "Re-Written Post Text": "={{ $json.output[0].content[0].text }}",
            "Likes": "={{ $('Run an Actor and get dataset').item.json.numLikes }}",
            "Comments": "={{ $('Run an Actor and get dataset').item.json.numComments }}"
          },
          "matchingColumns": [
            "Date "
          ],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original Post Text",
              "displayName": "Original Post Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Re-Written Post Text",
              "displayName": "Re-Written Post Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        256
      ],
      "id": "72176c08-4bba-42eb-a6bb-fa714da19500",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lwm85XOMAxL2D5gx",
          "name": "3/12/2025"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        256
      ],
      "id": "326897ad-95c5-497f-87d7-7e7daa8e78b2",
      "name": "Wait",
      "webhookId": "1b1e17d2-a8bc-4ee9-897a-1697c638e474"
    }
  ],
  "pinData": {},
  "connections": {
    "Linkedin Accounts": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant?": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c57823ea-d73a-41d3-bf54-210447183e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d623930058a5c1992b67b9b46f58aa81ce2ffebfaa94683c6ebb36ae093e8337"
  },
  "id": "lGyVXtm80Yccvv5l",
  "tags": []
}