public/workflows/srp-rag-chatbot.json
{
  "name": "SRP RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -64
      ],
      "id": "a62f74e6-7f96-41a2-a848-5d295eb7ccc4",
      "name": "Telegram Trigger",
      "webhookId": "dac07f5d-1904-469b-9edc-0fcf95f31352",
      "credentials": {
        "telegramApi": {
          "id": "e1GGtqMiwuFW2iEQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        -64
      ],
      "id": "18c8a101-7466-4698-8f49-6a3d244001fa",
      "name": "Wait",
      "webhookId": "db1b9865-2d22-4d84-8037-f5676b071dc0"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an internal company assistant that rewrites long AI answers into short, clear Telegram messages for employees.\n\nYour ONLY job:\n- Receive a long, detailed answer about the company.\n- Turn it into a concise, step-by-step message that is easy to read on Telegram.\n\nFormatting rules:\n- Start with a short 1–2 sentence summary.\n- Then write a numbered step-by-step list (2–7 steps max).\n- Use simple language that any employee can understand.\n- Keep the whole message under ~200–250 words.\n- Use Telegram-friendly Markdown:\n- Bold section titles like Summary, Steps, Key Notes.\n- Use numbered lists for steps.\n- Keep all important facts and decisions.\n- Remove repetition, filler, and technical details that are not necessary for action.\n- Do NOT add any extra information that is not in the original answer.\n- Do NOT mention that this was generated by an AI or summarized.\n- If there are clear actions for the employee, highlight them under a short Action Items section at the end.\n"
            },
            {
              "content": "=Please turn the following long answer into a Telegram-friendly message for employees.\n\nFollow these rules:\n- Start with Summary (1–2 sentences).\n- Then add Steps as a numbered list (2–7 steps).\n- If needed, add Action Items as a short bullet list at the end.\n- Keep it under ~200–250 words.\n- Use simple language and Telegram Markdown formatting.\n- Do not add new ideas; only use information from the original text.\n\nLONG ANSWER:\n{{ $json.output[0].content[0].text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -48,
        -64
      ],
      "id": "b12fa055-8ee8-48ac-bf49-b13a0a41ff81",
      "name": "Clean up message",
      "credentials": {
        "openAiApi": {
          "id": "iCgQHPo29Jz7PjQN",
          "name": "8/12/2025"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        -64
      ],
      "id": "5196e0b7-50b5-4e92-bdeb-70f818e78539",
      "name": "Send a text message",
      "webhookId": "924b4e2c-0710-4d8a-8df0-71320a005329",
      "credentials": {
        "telegramApi": {
          "id": "e1GGtqMiwuFW2iEQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        -64
      ],
      "id": "fd592a96-9e1f-4830-8f0d-f2ae2c1da2a3",
      "name": "Wait1",
      "webhookId": "db1b9865-2d22-4d84-8037-f5676b071dc0"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI assistant with access to the File Search tool.\n\nRULES:\n1. ALWAYS search the vector store first before answering.\n2. Only answer using the content found in documents.\n3. If the answer is not available in the documents, reply: \"Information not found in documents\".\n4. Never guess or create information.\n"
            },
            {
              "content": "=The use question is :\n\"{{ $json.message.text }}\"\n\nBased only on the text above, retrieve the most relevant information and answer the question.\n\nDo not add anything that does not exit in the documents.\n"
            }
          ]
        },
        "builtInTools": {
          "fileSearch": {
            "vectorStoreIds": "[\"vs_69363d1c57cc81918db71cd35dd91192\"]"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -624,
        -64
      ],
      "id": "7763d757-5e40-4b41-b9ed-b5aeec49741d",
      "name": "Get company info SRP",
      "credentials": {
        "openAiApi": {
          "id": "iCgQHPo29Jz7PjQN",
          "name": "8/12/2025"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Clean up message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get company info SRP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company info SRP": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f79228ff-25f5-4f78-a28c-1bcc0d07156e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d623930058a5c1992b67b9b46f58aa81ce2ffebfaa94683c6ebb36ae093e8337"
  },
  "id": "5zp9TbZSQdFSyuFR",
  "tags": []
}